*{
  margin:0;box-sizing:border-box;
}
body {  
display: flex;
  flex-direction: column;             
  min-height: 100vh;
  background-color: #f8f8f8;
}
.container-left {
    background-image: url(../images/left-image.jpg);
    background-color: #0078d7;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: auto;
    height: 100vh;
}
.logo-centre {
    background-image: url(../images/logo.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
}

.pers
{
font-family:"Fira Sans",sans-serif;
font-weight: bold;
font-size: 14px;
}
.part1
{
  background-color: red;
}
.part2
{
  background-color:0;
}
.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 100%;
}
.custom-container{
    position: absolute;
    top: 28%;
}
.rheight
{
padding-top: 25px;

}
.pg {
  outline: 0;
  border-width: 0 0 1px;
  border-color: grey;
}
.ftxt
{
  padding-left: 20px;
  font-family:"Fira Sans",sans-serif;
  font:#99999;
}
.ftxt1
{
  padding-left: 25px;
  font-weight: normal;
  font-family:"Fira Sans",sans-serif;
  font-size: 15px;
  color:black;
}
.after {
content: '';
width: 50%;
left: 25%;
bottom: -20px;
border-bottom: 1px solid #3483DF;

}
.adj
{
  padding-left:40px;
}

.bb
{
    /**width: 80%;**/
    padding: 20px;
    box-shadow: 0px 4px 18px #cdcdcd;
    background-color:#ffffff; 
}
.op
{
  padding:32px;
}
.op1
{
  padding-right:25px;
  padding-left:0px;
}
.op2
{
  padding-top:5px;
}

.pass
{
  color:lightgrey;
  font-family:"Fira Sans",sans-serif;
}

form {
  margin: 1em 0;
}
/**
* Make the field a flex-container, r  everse the order so label is on top.
*/
 
.field {
  display: flex;
  flex-flow: column-reverse;
  margin-bottom: 2em;
}
/**
* Add a transition to the label and input.
* I'm not even sure that touch-action: manipulation works on
* inputs, but hey, it's new and cool and could remove the 
* pesky delay.
*/
label, input {
  transition: all 0.3s;
  touch-action: manipulation;
}

input {
  font-size: 1em;
  border: 0;
  border-bottom: 1px solid #ccc;
  font-family: inherit;
  -webkit-appearance: none;
  border-radius: 0;
  padding: 0;
  cursor: text;
}

input:focus {
  outline: 0;
  border-bottom: 1px solid #666;
}

label {
  text-transform: 0;
  font-size: 10px;
  font-family: "Fira Sans",sans-serif;
  color:lightgrey;
  letter-spacing: 0.02em;
}
/**
* Translate down and scale the label up to cover the placeholder,
* when following an input (with placeholder-shown support).
* Also make sure the label is only on one row, at max 2/3rds of the
* field—to make sure it scales properly and doesn't wrap.
*/
input:placeholder-shown + label {
  cursor: text;
  max-width: 66.66%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transform-origin: left bottom;
  transform: translate(0, 2.125rem) scale(1.3);
}
/**
* By default, the placeholder should be transparent. Also, it should 
* inherit the transition.
*/
::-webkit-input-placeholder {
  opacity: 0;
  transition: inherit;
}
/**
* Show the placeholder when the input is focused.
*/
input:focus::-webkit-input-placeholder {
  opacity: 1;
}
/**
* When the element is focused, remove the label transform.
* Also, do this when the placeholder is _not_ shown, i.e. when 
* there's something in the input at all.
*/
input:not(:placeholder-shown) + label,
input:focus + label {
  transform: translate(0, 0) scale(1);
  cursor: pointer;
}

.iv
{
color: #3483DF;
position: relative;
}

.space
{
  Padding-left:15px;
}

.pictxt
{
  padding-left: 5px;
  font-size:15px;
  font-weight: bold;
  font-family: "Fira Sans", sans-serif;
  color:black;
}
.pictxt1
{
  padding-left: 5px;
  font-size:15px;
  font-weight: normal;
  color:black;
  font-family: "Fira Sans", sans-serif;
}
.num
{
    font-size: 56px;
    font-weight: lighter;
    font-family: "Fira Sans", sans-serif;
    color:dodgerblue;
    padding: 10px;
}
.fq
{
    float: center;
    font-size: 26px;
    text-align: center;
    border-bottom:2px solid black;+
    font-family: "Fira Sans", sans-serif;
}
.txt
{
    padding: 10px;
}
.rop1
{
  padding-left:29px;
  padding-top:17px;
}
.rop
{
  padding-left:15px;
  padding-top:18px;
}
.udline
{
  border-bottom:#344C9D 1px solid;
}

.wde
{
  padding-top: 12px;
}
.meta1
{
  width:100%;
    height:50px;
   /* border-bottom:#4682B4 2px solid;*/
  background-color:#3184F0;
  margin-bottom:1 rem;
  }
  .metatxt
  {
    color:white;
    padding-left:9px;
    padding-top:20px;
    padding-bottom: 5px;
    /*font-family: "Fira Sans", sans-serif;*/
    font-size: 14px;
    /*border-bottom:#4682B4 2px solid;*/
  }

.btnn {
  background-color: #366BE6;
  border: none;
  color: white;
 /* margin: 4px 2px;*/
  transition: 0.3s;
}

.btnn:hover {
  background-color: #1B3A83;
  color: white;
}

.meta2
{
  padding:0px;
  margin: 20px auto 0px auto;
  background-color:#fffff;
  box-shadow:0px 4px 10px #cdcdcd;
}
.meta0
{
  width:100%;
    height:50px;
    border:#4682B4 1px solid;
  background-color:#125CBC;
  margin-bottom:1 rem;
  }
.bb
{
    width: 100%;
    padding: 20px;
    box-shadow: 0px 4px 10px #cdcdcd;
    background-color: #FFFFFF; 
}
.bb1
{
    width: 100%;
    padding: 16px;
    box-shadow: 0px 4px 10px #cdcdcd;
    background-color: #FFFFFF; 
}
.cc
{
   width: 80%;
    height:80px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-style: solid;
    border-width: 1px;
    border-color: #d7d7d7;
}

button {
  float: right;
  color: black;
  background:0;
  width: 30px;
  height: 30px;
  border: 0;
  font-size: 1.5em;
  position: relative;
}

button span {
  position: absolute;
  transition: .3s;
  background: grey;
  border-radius: 1px;
}

button span:first-of-type {
  top: 25%;
  bottom: 25%;
  width: 10%;
  left: 45%;
}

button span:last-of-type {
  left: 25%;
  right: 25%;
  height: 10%;
  top: 45%;
}

button:hover span:first-of-type, button:hover span:last-of-type {
  transform: rotate(45deg);
}

/*button:hover span:last-of-type {
  left: 50%;
  right: 50%;
}
button:hover span:first-of-type {
  left: 50%;
  right: 50%;
}*/


.container-right {
    background: #f2f2f2;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #ffffff, #f2f2f2);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #ffffff, #f2f2f2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 100vh;
}
.fb-logo {
    position: absolute;
    top: 94%;
    left: 85%;
    padding-left: 10px;
    padding-right: 10px;

}
.twitter-logo {
    position: absolute;
    top: 94%;
    left: 90%;
    padding-left: 10px;
    padding-right: 10px;

}
#social-com{
    position: absolute;
    top: 94%;
    width: 100%;
}
.close {
    text-align: right;
    position: absolute;
    top: 10%;
    left: 80%;
    transform: translate(-50%, -50%);
    padding-left: 10px;
    padding-right: 10px;
    white-space: nowrap ;

}

#close{
    font-size: 14px;
    color: #000000;
    font-weight: bold;
    font-family: "Fira Sans", sans-serif;

}

ul#identifier li::first-letter { 
    text-decoration: underline;
    -webkit-text-decoration-color: blue; /* Safari */    
    text-decoration-color: #0177D7;
    
}
ul#identifier li a:hover { 
    background-color: #0177D7;
    color: white;
    text-decoration: none;
}
ul#identifier li a{
    font-size: 40px;
    color: #333333;
    font-weight: bold;
    font-family: "Fira Sans", sans-serif;
}

.menuPage-expand{
    position: absolute;
    right: 0;
    width:100%;
    -webkit-animation: menuExpand 1s;
}
.space
{
  padding-lefts:20px;
}
@-webkit-keyframes menuExpand{
    0%{width:0%}
    100%{width:100%}
}

.menuPage-shrink{
    position: absolute;
    right: 0;
    width:0%;
    z-index: 1;
    -webkit-animation: menuShrink 0.7s;
}
main {
  flex: 1;
  /*cut and paste the below margin-top for the first container helow the header*/
  /*margin-top: 14vh;*/
}

#header-row-height{
   /* height: 12.4vh;*/
}

#footer-background{
    /*height: 15.9vh;*/
    background-color: #ebebeb ;
}
#footer-row1-height{
    height: 7.95vh;
}
/*#footer-row2-height{
    padding-bottom: 1rem;
}*/
#custom-ul{
    margin-bottom: 0!important;
}
/*ul#custom-ul-pad li {
   padding-left: 2.375rem;
}*/
ul#custom-ul li a{
    color: #000000;
    font-size: 0.875rem; /*equivalent to 14px*/
    font-family: "Fira Sans Regular", sans-serif;
}
#search-row-flexible{
      /*margin-top: 9.6vh;*/
      margin-top: -1.4%;
}

nav.link_style a {
    font-size: 0.875rem;
    color: #ffffff;
    font-family: "Fira Sans Regular", sans-serif;
}

/*ul.icons {
      cursor: default;
      list-style: none;
      padding-left: 0;
    }
ul.icons li {
  display: inline-block;
  padding: 2em 1em 0 0;
}

ul.icons li a{
  font-size: 14px;
  color: #000000;
  font-family: "Fira Sans Regular", sans-serif;
}*/

.copyright {
    font-size: 0.75rem; /*equivalent to 14px*/
    color: #000000;
    font-family: "Fira Sans Regular", sans-serif;
    padding: 0 0 1em 0;
}
.search-font{
    font-size: 0.75rem; /*equivalent to 14px*/
    color: #000000;
    font-family: "Fira Sans Light", sans-serif;
}
/*#footer-color {
  background-color: #ebebeb ;
}*/
/*.custom-rounded {
    border-radius: 2.25rem!important;
}*/
/*.custom-h2 {
  margin-bottom: -0.5rem!important;
}*/
/*.rs-font{
  font-family: Arial !important;
}*/
/*.general{
  font-size: 14px!important;
  font-family: "Fira Sans Regular", sans-serif!important;
}*/

/*.bg-no-overlay {
    background: url("../images/plans/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}*/
/*.border-grey {
    border-color: #EDF1F4!important;
}*/
/*#absolute_position{
    text-decoration: none;
    position: absolute;
    top: 50%;
    margin-top: -16px;
    z-index: 2;
}*/


/*Demo*/
/*#navbarResponsive{
background-color: #0078d7 ;
z-index: 1;
}
div#navbarResponsive a {
    font-size: 0.875rem;
    color: #ffffff;
    font-family: "Fira Sans Regular", sans-serif;
}*/
/*Demo end
*/


#custom-header{
background-color: #0078d7 ;
/*z-index: 1;*/
}

#custom-search{
    z-index: 1;
    /*margin-top: 4.5rem!important;*/
    box-shadow: -2px 2px 38px #888888;
  }

.form-control-no-border:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}
/*#money-size{
  font-size: 4em;
}*/
/*#column-1{*/
 /* background-color: red;*/
  /*padding-left: 60px;
  padding-top: 50px;
  padding-bottom: 50px;
}*/
/*#column-3{*/
  /*background-color: red;*/
 /* padding-right:  60px;
  padding-top: 50px;
  padding-bottom: 50px;
}*/

/*#column-2{
   
  height: 400px;
  padding: 28px;
  box-sizing:border-box;
  box-shadow: -2px 7px 18px #888888;
  
}*/
/*#column-2 ul{
  line-height: 3em;
}
#column-2 #custom-card-body{
  padding-top: 4px;
}*/
/*#awesome-icon-color{
  color: #ffffff;
}
*/

.animation-position{
  position: relative;
}

.search-bar-position{
  position: absolute;
}
.animation-position-alt{
  position: fixed;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  z-index: 1;
}
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.slideInDown {
  -webkit-animation-name: slideInDown;
  animation-name: slideInDown;
}
@-webkit-keyframes slideInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slideInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-2000px);
    -ms-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }

  100% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

/*.bb
{
    width: 80%;
    padding: 20px;
    height: 400px; 
    margin: 20px auto 0px auto;
    box-shadow: 0px 4px 10px #cdcdcd;
    background-color: #FFFFFF; 
}*/
.cal
{
    width: 80%;
    padding: 20px;
    height: 100px;
    margin: 20px auto 0px auto;
    box-shadow: 0px 4px 10px #cdcdcd;
    background-color: #FFFFFF; 
}

.text
{
  text-align: center;
  font-family: "Fira Sans Regular", sans-serif;
  font-weight: bold;
}

.t3
{
  text-decoration-style: none;  
}

.textfor1
{
  text-align: center;
  font-family: "Fira Sans Regular", sans-serif;
  font-size: 18px;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;

}

.cta:hover { 
    background-color: white;
    font-style: bold;
     padding-right: 10px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-decoration: none; 
 
}

.divcenter
{
  width: 800px;
  margin: 0 auto;

}
.yeardetail
{
    text-align: center;
  font-family: "Fira Sans Regular", sans-serif;
  padding: 10px;
}

.ratedetail
{
    text-align: center;
  font-family: "Fira Sans Regular", sans-serif;
  padding: 10px;
  font-weight: bold;
}
.bckheader
{
  background-color:  #da1f26;
height: 40px;
}

.bckbody
{
  background-color:  #f8f8f8;
  height: 150px;
}

.uline
{
 column-width: 80px;
    border-bottom:2px #0078d7;
 margin-top:-18px;
  text-align: center;
}

.bckcolr
{
  background-color:  #f8f8f8; 
}

.ict
{
  height: 30px;
}
.icenter
{
margin: auto;
padding: 80px;
}
.oopsdetail
{
 color:  #0078d7;
  text-align: center;
  font-family: "Fira Sans Regular", sans-serif;
   text-align: center;
   
}
.provided
{
  text-align: center;
  font-family: "Fira Sans Regular", sans-serif;
   text-align: center;
   
}
.custom-margin{
  margin-top: 1.5rem;
}

.h
{
   padding: 20px;
    height: 40px;
    margin: 20px auto 0px auto;
    background-color: #f8f8f8; 
}

.meta
{
   padding: 20px;
    margin: 20px auto 0px auto;
    background-color: #ffffff; 
    box-shadow: 0px 4px 10px #cdcdcd;
}

.set
{
  font-family: "Fira Sans Regular", sans-serif;
font-weight: bold;

}

/*@media only screen 
and (max-device-width : 575.98px) 
and (orientation : landscape) { 
  #search-row-flexible {
    margin-top: 0 !;
}
#header-row-height {
    height: 14.4vh;
}
#logo-sm{
    height: auto;
    width: 70%;
}
}*/

/*iPhone 5 & 5S in landscape*/
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) 
and (orientation : landscape) { 
#header-row-height {
    height: 26.4vh!important;
}
}





 /*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) { 
  #search-row-flexible {
    margin-top: -4.4%;
}
#header-row-height {
    height: 14.4vh;
}
#logo-sm{
    height: auto;
    width: 70%;
}
  /*.custom-left{
   position: absolute;
   right: 8.9vw;
}*/
}

/*// Small devices (landscape phones, 576px and up)
*/
@media (min-width: 576px) and (max-width: 767.98px) { 

 }

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {  }

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {  }

/*// Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
.pb-md-3-1{
  padding-bottom: 1.25rem!important;
}
.px-md-5-5-2{
padding-left: 7rem!important;
padding-right: 7rem!important;
}
.mr-md-5-near{
  margin-right: 2.8rem!important;
}
}


.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
@-webkit-keyframes menuShrink{
    0%{width:100%}
    100%{width:0%}
}



/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) { 
.custom-container{
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.custom-pl-5{
    padding-left: 3rem!important;
}
}

/*// Small devices (landscape phones, 576px and up)
*/
@media (min-width: 576px) and (max-width: 767.98px) { 
    .custom-container{
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.custom-pl-5{
    padding-left: 3rem!important;
}

 }

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) { ... }

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) { ... }

/*// Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

}
